<html>
  <style>
    @media (min-width: 1200px) {
    .container{
        max-width: 1000px;
    }
}
  </style>
    <head>
      <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,700italic' rel='stylesheet' type='text/css'>
      <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/starter-template.css" rel="stylesheet">

        {% block head %}
        {% endblock %}
    
    </head>
    <body>



        {% block body %}
        {% endblock %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>


    </body>
</html>
